---
import Container from '@/layouts/Container.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="I'm New">
  <Container title="Welecome To CPC!">
    <div>I'm New Page</div>
  </Container>
</Layout>
