---
import AboutCards from '@/components/AboutCards.astro';
import RecentSermon from '@/components/RecentSermon.astro';
import Video from '@/components/Video.astro';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <main>
    <Video />
    <RecentSermon />
    <AboutCards />
  </main>
</Layout>
