---
import Container from '@/layouts/Container.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Kids">
  <Container title="CP Kids">
    <p
      class="text-darkGray mx-auto mb-6 mt-8 max-w-4xl md:text-center md:text-lg"
    >
      Center Point Church believes in and values children! The purpose of CP
      Kids is to lead children to live Christ-centered lives at their age level,
      in a safe, fun, and loving atmosphere.
    </p>
    <div
      class="mx-auto flex flex-col flex-wrap items-center justify-center text-center md:max-w-[900px] md:flex-row"
    >
      <div class="m-4 max-w-sm flex-1 sm:min-w-[384px]">
        <img
          src="/kids/kids-1.jpg"
          alt="Nursery"
          class="rounded-primary aspect-square object-cover"
        />
        <h2 class="font-primary mt-1 text-xl font-extrabold md:text-2xl">
          Nursey
        </h2>
        <p class="text-primary md:text-lg">0 - 2 years</p>
      </div>
      <div class="m-4 max-w-sm flex-1 sm:min-w-[384px]">
        <img
          src="/kids/kids-2.jpg"
          alt="PreSchool"
          class="rounded-primary aspect-square object-cover"
        />
        <h2 class="font-primary mt-1 text-xl font-extrabold md:text-2xl">
          PreSchool
        </h2>
        <p class="text-primary md:text-lg">3 years - Kindergarten</p>
      </div>
      <div class="m-4 max-w-sm flex-1 sm:min-w-[384px]">
        <img
          src="/kids/kids-3.jpg"
          alt="Elementary"
          class="rounded-primary aspect-square object-cover"
        />
        <h2 class="font-primary mt-1 text-xl font-extrabold md:text-2xl">
          Elementary
        </h2>
        <p class="text-primary md:text-lg">1st - 2nd Grade</p>
      </div>
      <div class="m-4 max-w-sm flex-1 sm:min-w-[384px]">
        <img
          src="/kids/kids-4.jpg"
          alt="PreTeen"
          class="rounded-primary aspect-square object-cover"
        />
        <h2 class="font-primary mt-1 text-xl font-extrabold md:text-2xl">
          PreTeen
        </h2>
        <p class="text-primary md:text-lg">3rd - 5th Grade</p>
      </div>
    </div>
    <div class="rounded-primary shadow-main bg-white p-4">
      <h3 class="font-primary mt-1 text-xl font-extrabold md:text-2xl">
        What To Expect
      </h3>
      <p class="text-darkGray mb-4 md:text-lg">
        Upon entry to the building, please find our CP Kids check-in host who
        will help you get your child(ren) checked in, and provide you with a
        matching check out ticket. The nursery (age 0-2) is open for the entire
        service, but children three and older will stay with their
        parent/guardian for praise and worship. Later in the service, we dismiss
        all the kids safely to their teachers for an age-specific interactive
        teaching time. After service, promptly check your children out of their
        class (downstairs), then spend some time visiting with your church
        family!
      </p>
      <h3 class="font-primary mt-1 text-xl font-extrabold md:text-2xl">
        Our Teachers
      </h3>
      <p class="text-darkGray mb-4 md:text-lg">
        Teachers and helpers engage with your children through fun videos and
        interactive, Bible-based curriculum. They will learn Bible stories,
        memorize scripture, participate in activities, and be taught how to pray
        and apply the Bible to their lives at their specific ages.
      </p>
      <h3 class="font-primary mt-1 text-xl font-extrabold md:text-2xl">
        Security
      </h3>
      <p class="text-darkGray mb-4 md:text-lg">
        For the safety of your children, each teacher and helper must complete
        an annual background check, and our Security Team is always monitoring
        our CP Kids area. We carefully schedule multiple teachers and helpers in
        every class for accountability and safety. Upon check-in, please help us
        by ensuring we have all the important information we need to know for
        your family to have a great experience.
      </p>
      <h3 class="font-primary mt-1 text-xl font-extrabold md:text-2xl">Info</h3>
      <p class="text-darkGray mb-4 md:text-lg">
        What information do we need? We need special needs, allergies, the name
        of the person/people who are allowed to check your children in or out of
        class, and your contact information in case we need you during the
        class. Just a reminder, for your family's safety, no child can be
        checked out of class without verifying the check out ticket you received
        when you checked your child in.
      </p>
    </div>
  </Container>
</Layout>
